<div class="map-container">
    <div id="map"></div>

    <!-- <div class="map-controls">
        <button mat-raised-button color="primary" (click)="switchView('coverage')"
            [class.mat-primary]="currentView === 'coverage'" [class.mat-button-disabled]="currentView !== 'coverage'"
            class="control-btn">
            Области покрытия
        </button>

        <button mat-raised-button color="primary" (click)="switchView('markers')"
            [class.mat-primary]="currentView === 'markers'" [class.mat-button-disabled]="currentView !== 'markers'"
            class="control-btn">
            Точечный вид
        </button>
    </div> -->
</div>