.map-container {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 101;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#map:focus {
    outline: none !important;
}

.leaflet-container {
    z-index: 1;
}

.leaflet-control-container {
    z-index: 101;
}


.layer-controls {
    position: absolute;
    top: 15px;
    left: 55px;
    z-index: 1;
    pointer-events: auto;
}