<div class="sources-container">
    <div class="cards-grid">
        @if (taskService.visibleAdd()) {
        <mat-card tabindex="0" class="card-style">
            <app-task-add></app-task-add>
        </mat-card>
        }
        @for (task of taskService.tasks(); track task.id) {
        @if (editTaskId === task.id) {
        <mat-card tabindex="0" class="card-style">
            <app-task-edit [task]="task" (saved)="finishEdit()" (cancelled)="finishEdit()"></app-task-edit>
        </mat-card>
        } @else {
        <mat-card tabindex="0" class="card-style">
            <div class="card-layout">
                <div class="card-main">
                    <mat-card-header>
                        <div>
                            <p>Статус задачи: {{ task.status }}</p>
                            <mat-card-title>{{ task.name }}</mat-card-title>
                        </div>

                        <div>
                            <div>Дата создания:: {{ task.createdAt | date:'dd.MM.yy HH:mm' }}</div>
                            <div>Дата обновления: {{ task.updatedAt | date:'dd.MM.yy HH:mm' }}</div>
                        </div>
                        <button matButton="elevated">Запустить анализ!</button>
                    </mat-card-header>
                    <mat-card-content class="description">
                        <button matButton="elevated" (click)="openDialog('0ms', '0ms', task.id)">Удалить</button>
                        <button matButton="elevated" routerLink="/upload/{{ task.id }}">Добавить фотографии для
                            анализа</button>

                        <button matButton="elevated" routerLink="/all-photo/{{ task.id }}">Фотографии задачи</button>

                    </mat-card-content>
                </div>
            </div>
        </mat-card>
        }
        }
    </div>
</div>