<div class="task-container">
    <div class="header-container">
        <!-- поиск -->
        <div class="search-menu-button">
            <mat-button-toggle-group [formControl]="selectedControl" aria-label="Filter type">
                <mat-button-toggle value="all"><mat-icon>apps</mat-icon></mat-button-toggle>
                <mat-button-toggle value="TASK_NEW"><mat-icon>fiber_new</mat-icon></mat-button-toggle>
                <mat-button-toggle value="IN_PROGRESS"><mat-icon>autorenew</mat-icon></mat-button-toggle>
                <mat-button-toggle value="COMPLETED"><mat-icon>flag</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <button matButton="elevated" (click)="taskService.setVisibleAdd(true)">Создать задачу</button>
    </div>

    <div class="cards-grid">
        @if (taskService.visibleAdd()) {
        <mat-card tabindex="0" class="card-style">
            <app-task-add></app-task-add>
        </mat-card>
        }
        @for (task of filteredValues(); track task.id) {
        @if (editTaskId === task.id) {
        <mat-card tabindex="0" class="card-style">
            <app-task-edit [task]="task" (saved)="finishEdit()" (cancelled)="finishEdit()"></app-task-edit>
        </mat-card>
        } @else {
        <mat-card tabindex="0" class="card-style">
            <div class="card-layout">
                <div class="card-side">
                    <div>
                        @if(task.status==='TASK_NEW'){
                        <mat-icon class="icon-menu">fiber_new</mat-icon>

                        } @else if (task.status==='IN_PROGRESS') {
                        <mat-icon class="icon-menu" [class.spin]="task.status === 'IN_PROGRESS'">
                            autorenew
                        </mat-icon>
                        } @else {
                        <mat-icon class="icon-menu">flag</mat-icon>
                        }
                    </div>
                </div>
                <div class="card-main">
                    <mat-card-header>
                        <mat-card-title>{{ task.name }}</mat-card-title>

                    </mat-card-header>
                    <mat-card-content class="description">
                        <div>
                            <div>Дата создания:: {{ task.createdAt | date:'dd.MM.yy HH:mm' }}</div>
                            <div>Дата обновления: {{ task.updatedAt | date:'dd.MM.yy HH:mm' }}</div>
                            <div>Фото в задаче: {{task.photoCount}}</div>
                        </div>
                    </mat-card-content>
                </div>


                <div class="card-side">
                    <button matButton="elevated" (click)="openDialogTask('0ms', '0ms', task.id, task.photoCount)"
                        [disabled]="task.status!='TASK_NEW'">Запустить
                        анализ!</button>
                    <button matButton="elevated" routerLink="/upload/{{ task.id }}"
                        [disabled]="task.status !='TASK_NEW'">Загрузить фотографии</button>
                    <button matButton="elevated" routerLink="/all-photo/{{ task.id }}">Фотографии</button>
                    <button matButton="elevated" (click)="openDialog('0ms', '0ms', task.id)"
                        [disabled]="task.status=='IN_PROGRESS'">Удалить</button>

                    <button matButton="elevated" [disabled]="task.status!='COMPLETED'"
                        (click)="getReport(task.id|| '')">Экспорт XLSX</button>
                </div>
            </div>


        </mat-card>
        }
        }
    </div>
</div>