<div class="task-container">
    <div class="header-container">
        <!-- поиск -->
        <div class="search-menu-button">
            <mat-button-toggle-group [formControl]="selectedControl" aria-label="Filter type">
                <mat-button-toggle value="all"><mat-icon>apps</mat-icon></mat-button-toggle>
                <mat-button-toggle value="TASK_NEW"><mat-icon>fiber_new</mat-icon></mat-button-toggle>
                <mat-button-toggle value="IN_PROGRESS"><mat-icon>autorenew</mat-icon></mat-button-toggle>
                <mat-button-toggle value="COMPLETED"><mat-icon>flag</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- <button matButton="elevated" (click)="taskService.setVisibleAdd(true)">Создать задачу</button> -->
        <button matButton="elevated" (click)="openOverlayStep()">Создать задачу</button>

    </div>

    <div class="cards-grid">
        @if (taskService.visibleAdd()) {
        <mat-card tabindex="0" class="card-style">
            <app-task-add></app-task-add>
        </mat-card>
        }
        @for (task of filteredValues(); track task.id) {
        @if (editTaskId === task.id) {
        <mat-card tabindex="0" class="card-style">
            <app-task-edit [task]="task" (saved)="finishEdit()" (cancelled)="finishEdit()"></app-task-edit>
        </mat-card>
        } @else {
        <mat-card tabindex="0" class="card-style">
            <div class="card-layout">
                <div class="card-side">
                    <div>
                        @if(task.status==='TASK_NEW'){
                        <mat-icon class="icon-menu">fiber_new</mat-icon>

                        } @else if (task.status==='IN_PROGRESS') {
                        <mat-icon class="icon-menu" [class.spin]="task.status === 'IN_PROGRESS'">
                            autorenew
                        </mat-icon>
                        } @else {
                        <mat-icon class="icon-menu">flag</mat-icon>
                        }
                    </div>
                </div>
                <div class="card-main">
                    <mat-card-header>
                        <mat-card-title>{{ task.name }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="description">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Дополнительная информация</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="date-view">
                                <mat-form-field>
                                    <mat-label>Дата создания</mat-label>
                                    <input matInput [value]="task.createdAt | date:'dd.MM.yy HH:mm'" readonly>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Дата обновления</mat-label>
                                    <input matInput [value]="task.updatedAt | date:'dd.MM.yy HH:mm'" readonly>
                                </mat-form-field>
                            </div>
                        </mat-expansion-panel>
                        @if(task.photos.length>0){
                        <mat-expansion-panel matBadge={{task.photos.length}}>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Фотографии задачи</mat-panel-title>
                            </mat-expansion-panel-header>

                            <!-- Пагинатор для конкретной задачи -->
                            <mat-paginator class="custom-paginator" [length]="task.photos.length"
                                [pageSize]="getPaginationState(task).pageSize"
                                [pageIndex]="getPaginationState(task).currentPage" [pageSizeOptions]="[2,4,6, 8, 10]"
                                (page)="onPhotoPageChange($event, task)">
                            </mat-paginator>

                            <!-- Контент с фото -->
                            @if(task.status==="COMPLETED"){
                            <div class="photos-grid">
                                @for (photo of getPaginatedTaskPhotos(task); track photo.id) {
                                @if(photo.filePathComplete){
                                <img [src]="photo.filePathComplete" [alt]="photo.name" class="photo-grid-item"
                                    loading="lazy" (click)="showPreview(photo.filePathComplete)">
                                } @else {
                                <img [src]="photo.filePathOriginal" [alt]="photo.name" class="photo-grid-item"
                                    loading="lazy" (click)="showPreview(photo.filePathOriginal)">
                                }
                                }
                            </div>
                            } @else {
                            <div class="photos-grid">
                                @for (photo of getPaginatedTaskPhotos(task); track photo.id) {
                                <img [src]="photo.filePathOriginal" [alt]="photo.name" class="photo-grid-item"
                                    loading="lazy" (click)="showPreview(photo.filePathOriginal)">
                                }
                            </div>
                            }
                        </mat-expansion-panel>
                        }
                    </mat-card-content>
                </div>
                <div class="card-side">
                    @if(task.status=='TASK_NEW'){
                    @if(task.photos.length>0){
                    <button matButton="elevated"
                        (click)="openDialogTask('0ms', '0ms', task.id, task.photoCount)">Запустить анализ!</button>
                    }
                    <button matButton="elevated" routerLink="/upload/{{ task.id }}">Загрузить фотографии</button>
                    }
                    @if(task.status=='COMPLETED'){
                    <button matButton="elevated" (click)="openMapOverlay(task.photos)">Интерактивная карта</button>
                    <button matButton="elevated" (click)="getReport(task.id|| '')">Экспорт XLSX</button>
                    }

                    @if(task.photos.length>0){ <button matButton="elevated" routerLink="/all-photo/{{ task.id }}">
                        Фотографии</button>
                    }
                    @if(task.status!='IN_PROGRESS'){
                    <button matButton="elevated" (click)="openDialog('0ms', '0ms', task.id)">Удалить</button>
                    }
                </div>
            </div>
        </mat-card>
        }
        }
    </div>
    @if (isViewMap()) {
    <div class="overlay" #overlay (click)="closeOverlay($event)">
        <div class="close-btn" (click)="closeMapButton()">
            <mat-icon>close</mat-icon>
        </div>
        <app-photo-map></app-photo-map>
    </div>
    }
    @if (this.taskService.isVisibleStepSignal()) {
    <div class="overlay" #overlay (click)="closeOverlayStep($event)">
        <div class="close-btn" (click)="closeButtonStep()">
            <mat-icon>close</mat-icon>
        </div>
        <app-start-step></app-start-step>
    </div>
    }
    <div class="backdrop" [class.show]="isViewMap()"></div>

    <div class="backdrop" [class.show]="this.taskService.isVisibleStepSignal()"></div>


    @if (previewImage) {
    <div class="overlay" (click)="closePreview()">
        <img [src]="previewImage" class="preview-image" />
    </div>
    }
    <div class="backdrop" [class.show]="previewImage" (click)="closePreview()"></div>

</div>