<!-- Боковое меню -->
<nav class="sidebar" [class.open]="menuVisible" id="sidebar" appCloseOnClickOutside (clickOutside)="closeMenu()">
  <div class="sidebar-top">
    @if (loginService.isLoginSignal()) {
    @if (checkTokenService.isAdminSignal()){
    <a class="item" routerLink="/amdin" routerLinkActive="active" (click)="closeMenu()">
      <div class="ai-matrix-loader">
        <div class="digit">0</div>
        <div class="digit">1</div>
        <div class="digit">0</div>
        <div class="digit">1</div>
        <div class="digit">1</div>
        <div class="digit">0</div>
        <div class="digit">0</div>
        <div class="digit">1</div>
        <div class="digit">0</div>
        <div class="digit">1</div>
        <div class="digit">1</div>
        <div class="digit">0</div>
        <div class="glow"></div>
      </div>

      <span class="label">Админка</span>
    </a>
    }

    <a class="item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()">
      <mat-icon>home</mat-icon>
      <span class="label">Главная</span>
    </a>

    <a class="item" routerLink="/FAQ" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon>help_outline</mat-icon>
      <span class="label">FAQ</span>
    </a>

    } @else {
    <a class="item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()">
      <mat-icon>home</mat-icon>
      <span class="label">Главная</span>
    </a>
    <a class="item" routerLink="/FAQ" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon>help_outline</mat-icon>
      <span class="label">FAQ</span>
    </a>
    }
  </div>

  <div class="sidebar-bottom">
    <div class="divider"></div>
    <a class="item" role="button" (click)="onThemeSwitchChange()">
      <mat-icon>{{ isLightTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
      <span class="label">Тема</span>
    </a>

    @if (loginService.isLoginSignal()) {
    <a class="item" routerLink="/login" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span class="label">Выход</span>
    </a>
    } @else {
    <a class="item" routerLink="/login" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon>login</mat-icon>
      <span class="label">Вход</span>
    </a>
    <a class="item" routerLink="/registration" routerLinkActive="active" (click)="closeMenu()">
      <mat-icon>person_add</mat-icon>
      <span class="label">Регистрация</span>
    </a>
    }
  </div>
</nav>

<!-- Оверлей -->
<div class="backdrop" [class.show]="menuVisible && styleSwither.isMobileViewSignal()" (click)="closeMenu()"></div>

<div class="layout">
  <header class="topbar">
    <label class="burger">
      <input type="checkbox" [checked]="menuVisible && styleSwither.isMobileViewSignal()" (click)="toggleMenu($event)">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </header>
  <main>
    <div class="content">
      <router-outlet></router-outlet>
      <app-loading></app-loading>
    </div>
  </main>
</div>

<app-error-message></app-error-message>