.image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
}

.horisont-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-grid {
    grid-template-columns: 1fr;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.overlay.active {
    display: flex;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: default;
}


.video-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    /* object-fit: cover; */
}


.card-style:hover {
    transform: none;
    box-shadow: var(--card-thickness), var(--card-shadow) !important;
}