<div class="cards-grid">
    @for (post of postService.postSignal(); track post.idPost) {
    <mat-card tabindex="0" class="card-style">
        <div class="card-component-padding">
            <div class="card-layout vertical-box">
                <mat-card-header>
                    <div>ID: {{ post.idPost }}</div>
                    <div>ID post: {{ post.idPost }}</div>
                    <div>Тип: {{ post.type }}</div>
                    <div>Дата: {{ post.date * 1000 | date:'dd.MM.yy HH:mm' }}</div>
                    <div>Вложений: {{post.attachments.length}}</div>
                </mat-card-header>
                <mat-card-content class="description">
                    <div class="vertical-box">
                        @if (post.text) {
                        <div class="word-box word-style">{{ post.text }}</div>
                        }
                        <div class="horisont-box image-box">
                            @for (attachment of post.attachments; track $index) {
                            @if (attachment.type === 'VIDEO') {
                            <!-- Если пост из Telegram -->
                            @if (post.type === 'TELEGRAM') {
                            <video controls width="300">
                                <source [src]="attachment.url" type="video/mp4" />
                                Ваш браузер не поддерживает видео.
                            </video>
                            }
                            <!-- Если НЕ Telegram -->
                            @else {
                            <div class="video-wrapper">
                                <iframe [src]="vkWidgetService.getVkEmbedUrl(attachment.url || '')" height="100%"
                                    frameborder="0" allowfullscreen allow="autoplay; encrypted-media; fullscreen">
                                </iframe>
                            </div>
                            }
                            }

                            @if (attachment.type === 'PHOTO') {
                            <img [src]="attachment.url" alt="Изображение" width="100"
                                [class.fullscreen]="isFullscreen(attachment.url|| '')"
                                (click)="toggleFullscreen(attachment.url || '')" />
                            }
                            }
                        </div>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
    }
</div>

<!-- Добавьте этот div в конец компонента -->
<div class="overlay" [class.active]="fullscreenImage" (click)="closeFullscreen()">
    @if (fullscreenImage) {
    <img [src]="fullscreenImage" alt="Увеличенное изображение" class="fullscreen-image"
        (click)="$event.stopPropagation()" />
    }
</div>