.step-form {
    width: 100%;
    height: 100%;
    background-color: var(--card);
    border: 1px solid #00878b;
    border-radius: 10px;
    overflow-y: auto !important;
    user-select: none;
}


::ng-deep .custom-step {
    padding-top: 70px;
    /* height: 90%; */
    background: transparent !important;
}

.full-width {
    padding-top: 10px;
}

.upload-step {
    display: fixed;
    gap: 10px;
    margin-top: 20px;
}


.full-width {
    margin-top: 10px;
    padding-bottom: 10px;
}

::ng-deep .custom-step .mat-step-header {
    pointer-events: none;
}

.step-form .task-name {
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}