<section>
    <!-- зона drag&drop -->
    <div class="drop-zone" (dragover)="allowDrop($event)" (dragleave)="onDragLeave()" (drop)="onFileDropped($event)"
        [class.drag-over]="dragOver">
        <p>Перетащите файлы сюда или выберите вручную</p>
        <input type="file" (change)="onFileSelected($event)" multiple accept="image/*,.zip" style="display: none;"
            #fileInput>
        <button matButton="elevated" (click)="fileInput.click()">Выбрать файлы</button>
    </div>

    @if (files.length > 0) {
    <button matButton="elevated" class="send-button" (click)="onUpload()" [disabled]="uploading">Отправить</button>
    }
    <!-- список файлов -->
    @if (files.length > 0) {
    <h3>Файлы:</h3>
    <ul>
        @for (f of files; track f.file.name; let i = $index) {
        <li class="file-item">
            @if (f.isImage) {
            <div class="file-row">
                <img [src]="f.preview" alt="preview" class="thumb" />
                <span class="file-info">
                    <strong>{{ f.file.name }}</strong>
                    <div class="size">{{ formatSize(f.file.size) }}</div>
                </span>
                <button matButton="elevated" (click)="showPreview(f)">Просмотр</button>
                <button matButton="elevated" (click)="removeFile(i)">Удалить</button>
            </div>
            } @else {
            <div class="file-row">
                <span class="file-info">📦 <strong>{{ f.file.name }}</strong>
                    <div class="size">{{ formatSize(f.file.size) }}</div>
                </span>
                <button matButton="elevated" (click)="removeFile(i)">Удалить</button>
            </div>
            }

            <!-- прогресс под файлом -->
            <div class="progress-row">
                <div class="progress-bar">
                    <div class="progress" [style.width.%]="f.progress"></div>
                </div>
                <div class="percent">{{ f.progress }}%</div>
            </div>

            <!-- ошибка если есть -->
            @if (f.error) {
            <div class="upload-error">Ошибка: {{ f.error }}</div>
            }
        </li>
        }
    </ul>
    }

    <!-- overlay предпросмотр -->
    @if (previewImage) {
    <div class="overlay" (click)="closePreview()">
        <img [src]="previewImage" class="preview-image" />
    </div>
    }

    <!-- затемнение прогресса загрузки (без крутящегося круга) -->
    @if (uploading) {
    <div class="overlay">
        <div class="progress-counter">
            {{ uploadedCount }} / {{ files.length }}
        </div>
    </div>
    }
</section>