<section>
    <!-- зона drag&drop -->
    <div class="drop-zone" (dragover)="allowDrop($event)" (dragleave)="onDragLeave()" (drop)="onFileDropped($event)"
        [class.drag-over]="dragOver">
        <p>Перетащите файлы сюда или выберите вручную</p>
        <input type="file" (change)="onFileSelected($event)" multiple accept="image/*,.zip" style="display: none;"
            #fileInput>
        <button matButton="elevated" (click)="fileInput.click()">Выбрать файлы</button>
    </div>

    @if (files.length > 0) {
    <button matButton="elevated" class="send-button" (click)="onUpload()" [disabled]="uploading">Отправить</button>
    }
    <!-- список файлов -->
    @if (files.length > 0) {
    <ul>
        <div class="cards-grid">
            @for (f of files; track f.file.name; let i = $index) {
            <mat-card tabindex="0" class="card-style">
                <div class="card-layout">
                    <div class="card-side">
                        <div class="size">{{ formatSize(f.file.size) }}</div>
                    </div>
                    <div class="card-main">
                        <div class="input-stile">
                            <mat-form-field>
                                <mat-label>Широта</mat-label>
                                <input matInput type="number" placeholder="55.7558" [(ngModel)]="f.latitude">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Долгота</mat-label>
                                <input matInput type="number" placeholder="37.6173" [(ngModel)]="f.longitude">
                            </mat-form-field>
                        </div>
                        <mat-card-content class="description">
                            @if (f.isImage) {
                            <div class="file-row">
                                <img [src]="f.preview" alt="preview" class="thumb" />
                                <span class="file-info">
                                    <strong>{{ f.file.name }}</strong>
                                </span>
                            </div>
                            }


                            <!-- прогресс под файлом -->
                            <div class="progress-row">
                                <div class="progress-bar">
                                    <div class="progress" [style.width.%]="f.progress"></div>
                                </div>
                                <div class="percent">{{ f.progress }}%</div>
                            </div>

                            <!-- ошибка если есть -->
                            @if (f.error) {
                            <div class="upload-error">Ошибка: {{ f.error }}</div>
                            }
                        </mat-card-content>


                    </div>
                    <div class="card-side">
                        <button matButton="elevated" (click)="showPreview(f)">Просмотр</button>
                        <button matButton="elevated" (click)="removeFile(i)">Удалить</button>
                    </div>

                </div>
            </mat-card>
            }
        </div>
    </ul>
    }

    <!-- overlay предпросмотр -->
    @if (previewImage) {
    <div class="overlay" (click)="closePreview()">
        <img [src]="previewImage" class="preview-image" />
    </div>
    }

    <!-- затемнение прогресса загрузки  -->
    @if (uploading) {
    <div class="overlay">
        <div class="progress-counter">
            {{ uploadedCount }} / {{ files.length }}
        </div>
    </div>
    }
</section>