.cards-grid {
    grid-template-columns: 1fr;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.icon-link {
    height: 19px;
    width: 19px;
}

svg {
    width: 19px;
    height: 19px;
}

.photo-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* cursor: pointer; */
    padding: 20px;
    box-sizing: border-box;
}

.overide-form {
    max-width: 1200px;
    max-height: 90vh;
    width: 100%;
    overflow-x: hidden;
    /* убираем горизонтальный скролл */
    overflow-y: auto;
    /* оставляем вертикальный */
}

.overlay>* {
    /* padding-right: 20px; */
    pointer-events: auto;
}