<div class="photo-container">
    <div class="header-container">
        <div class="search-menu-button">
            <mat-button-toggle-group [formControl]="selectedControl" aria-label="Filter type">
                <mat-button-toggle value="all"><mat-icon>apps</mat-icon></mat-button-toggle>
                <mat-button-toggle value="TASK_NEW"><mat-icon>fiber_new</mat-icon></mat-button-toggle>
                <mat-button-toggle value="IN_PROGRESS"><mat-icon>autorenew</mat-icon></mat-button-toggle>
                <mat-button-toggle value="COMPLETED"><mat-icon>flag</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Выберите диапазон</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
                <input matStartDate formControlName="start" placeholder="с даты">
                <input matEndDate formControlName="end" placeholder="до даты">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Поиск [Адрес] или [широта,долгота]</mat-label>
            <input matInput [formControl]="searchControl">
            @if (searchControl.value) {
            <mat-icon matSuffix (click)="clearFilter()">close</mat-icon>
            }
        </mat-form-field>
    </div>
    <div class="pagination-container">
        <button mat-raised-button routerLink="" class="back-button">
            <mat-icon>arrow_back</mat-icon>
            Назад
        </button>

        <mat-paginator class="custom-paginator" [length]="filteredValues().length" [pageSize]="pageSize()"
            [pageIndex]="currentPage()" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
    <div class="cards-grid">
        @for (photo of paginatedPhotos(); track photo.id) {
        <mat-card tabindex="0" class="card-style">
            <div class="card-layout">
                <div class="card-side">
                    @if(photo.status==='TASK_NEW'){
                    <mat-icon class="icon-menu">fiber_new</mat-icon>
                    } @else if (photo.status==='IN_PROGRESS') {
                    <mat-icon class="icon-menu">autorenew</mat-icon>
                    } @else {
                    <mat-icon class="icon-menu">flag</mat-icon>
                    }
                </div>
                <div class="card-main">
                    <mat-card-content class="description">
                        <div class="photo-container">
                            <!-- Фото слева -->
                            <div class="photo-section">
                                @if (photo.status==='COMPLETED') {
                                @if (photo.filePathComplete) {
                                <mat-tab-group>
                                    <mat-tab label="Оригинал"><img [src]="photo.filePathOriginal" [alt]="photo.name"
                                            class="photo-image" loading="lazy"
                                            (click)="showPreview(photo.filePathOriginal)"> </mat-tab>
                                    <mat-tab label="Обработанное"> <img [src]="photo.filePathComplete"
                                            [alt]="photo.name" class="photo-image" loading="lazy"
                                            (click)="showPreview(photo.filePathComplete)"> </mat-tab>
                                </mat-tab-group>
                                }@else{
                                <mat-tab-group>
                                    <mat-tab label="Оригинал"><img [src]="photo.filePathOriginal" [alt]="photo.name"
                                            class="photo-image" loading="lazy"
                                            (click)="showPreview(photo.filePathOriginal)"> </mat-tab>
                                </mat-tab-group>
                                }
                                } @else{
                                <mat-tab-group>
                                    <mat-tab label="Оригинал"><img [src]="photo.filePathOriginal" [alt]="photo.name"
                                            class="photo-image" loading="lazy"
                                            (click)="showPreview(photo.filePathOriginal)"> </mat-tab>
                                </mat-tab-group>
                                }
                            </div>

                            <!-- Параметры справа -->
                            <div class="parameters-section">
                                <mat-accordion>
                                    <!-- Основные параметры -->
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Основные параметры</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p><strong>Название:</strong> {{photo.name}}</p>
                                        <p><strong>Тип контента:</strong> {{photo.contentType}}</p>
                                        <p><strong>Обновлено:</strong> {{photo.updatedAt | date:'dd.MM.yyyy HH:mm'}}</p>
                                    </mat-expansion-panel>

                                    <!-- Метаданные камеры -->
                                    @if(photo.camMetadataResponse) {
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Метаданные камеры</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p><strong>Адрес:</strong> {{photo.camMetadataResponse.address}}</p>
                                        <p><strong>Широта:</strong> {{photo.camMetadataResponse.latitude}}</p>
                                        <p><strong>Долгота:</strong> {{photo.camMetadataResponse.longitude}}</p>
                                        <p><strong>Азимут:</strong> {{photo.camMetadataResponse.bearing}}</p>
                                        <p><strong>Высота:</strong> {{photo.camMetadataResponse.elevation}}</p>
                                    </mat-expansion-panel>
                                    } @else {
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Метаданные камеры</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>Метаданные камеры не обнаружены</p>
                                    </mat-expansion-panel>
                                    }

                                    <!-- Bbox карте -->
                                    @if(photo.constructMetadataResponses.length > 0) {
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Bbox координаты</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-tab-group>
                                            @for (construct of photo.constructMetadataResponses; track construct.id) {
                                            <mat-tab label={{construct.position}}>
                                                <p><strong>Адрес:</strong> {{construct.address}}</p>
                                                <p><strong>Широта:</strong> {{construct.latitude}}</p>
                                                <p><strong>Долгота:</strong> {{construct.longitude}}</p>
                                            </mat-tab>
                                            }
                                        </mat-tab-group>
                                    </mat-expansion-panel>
                                    }
                                </mat-accordion>
                            </div>

                        </div>
                    </mat-card-content>
                </div>
                <div class="card-side">
                    @if(photo.status!=='IN_PROGRESS'){
                    <button matButton="elevated" (click)="openDialog('0ms', '0ms', photo.id)">Удалить</button>
                    }
                    @if(photo.status=='COMPLETED'){
                    <button matButton="elevated" (click)="openMapOverlay(photo)"
                        [disabled]="photo.status!='COMPLETED'">Bbox на карте</button>
                    }

                </div>

            </div>
        </mat-card>
        }
    </div>
    @if (isViewMap()) {
    <div class="overlay" #overlay (click)="closeOverlay($event)">
        <div class="close-btn" (click)="closeMapButton()">
            <mat-icon>close</mat-icon>
        </div>
        <app-photo-map></app-photo-map>
    </div>

    }

    <div class="backdrop" [class.show]="isViewMap()"></div>

    @if (previewImage) {
    <div class="overlay" (click)="closePreview()">
        <img [src]="previewImage" class="preview-image" />
    </div>
    }
    <div class="backdrop" [class.show]="previewImage" (click)="closePreview()"></div>
</div>