.cards-grid {
    grid-template-columns: 1fr;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.icon-link {
    height: 19px;
    width: 19px;
}

svg {
    width: 19px;
    height: 19px;
}

.photo-image {
    max-width: 100%;
    height: auto;
    display: block;
}