<div class="photo-container">
    <div class="header-container">
        <div class="search-menu-button">
            <mat-button-toggle-group [formControl]="selectedControl" aria-label="Filter type">
                <mat-button-toggle value="all"><mat-icon>apps</mat-icon></mat-button-toggle>
                <mat-button-toggle value="TASK_NEW"><mat-icon>fiber_new</mat-icon></mat-button-toggle>
                <mat-button-toggle value="IN_PROGRESS"><mat-icon>autorenew</mat-icon></mat-button-toggle>
                <mat-button-toggle value="COMPLETED"><mat-icon>flag</mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Выберите диапазон</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
                <input matStartDate formControlName="start" placeholder="с даты">
                <input matEndDate formControlName="end" placeholder="до даты">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Поиск</mat-label>
            <input matInput [formControl]="searchControl">
            @if (searchControl.value) {
            <mat-icon matSuffix (click)="clearFilter()">close</mat-icon>
            }
        </mat-form-field>
    </div>

    <div class="cards-grid">
        @for (photo of filteredValues(); track photo.id) {
        <mat-card tabindex="0" class="card-style">
            <div class="card-layout">
                <div class="card-side">
                    @if(photo.status==='TASK_NEW'){
                    <mat-icon class="icon-menu">fiber_new</mat-icon>
                    } @else if (photo.status==='IN_PROGRESS') {
                    <mat-icon class="icon-menu">autorenew</mat-icon>
                    } @else {
                    <mat-icon class="icon-menu">flag</mat-icon>
                    }
                </div>
                <div class="card-main">
                    <mat-card-content class="description">
                        <div class="photo-container">
                            <!-- Фото слева -->
                            <div class="photo-section">
                                @if (photo.status==='COMPLETED') {
                                <img [src]="photo.filePathComplete" [alt]="photo.name" class="photo-image"
                                    loading="lazy">
                                } @else{
                                <img [src]="photo.filePathOriginal" [alt]="photo.name" class="photo-image"
                                    loading="lazy">
                                }
                                <div class="text">
                                    <div>Ш: {{photo.camMetadataResponse?.latitude}}</div>
                                    <div>Д: {{photo.camMetadataResponse?.longitude}}</div>
                                </div>
                            </div>

                            <!-- Параметры справа -->
                            @if (false) {
                            <div class="parameters-section">
                                <h3>Основные параметры</h3>
                                <p><strong>Всего фото: </strong>{{phtotService.photos().length}} </p>
                                <p><strong>ID:</strong> {{photo.id}}</p>
                                <p><strong>Название:</strong> {{photo.name}}</p>
                                <p><strong>Хэш файла:</strong> {{photo.fileHash}}</p>
                                <p><strong>Тип контента:</strong> {{photo.contentType}}</p>
                                <p><strong>Обновлено:</strong> {{photo.updatedAt | date}}</p>
                                @if(photo.camMetadataResponse){
                                <div class="metadata-section">
                                    <h4>Метаданные камеры</h4>
                                    <p><strong>ID камеры:</strong> {{photo.camMetadataResponse?.id}}</p>
                                    <p><strong>Адрес:</strong> {{photo.camMetadataResponse?.address}}</p>
                                    <p><strong>Широта:</strong> {{photo.camMetadataResponse?.latitude}}</p>
                                    <p><strong>Долгота:</strong> {{photo.camMetadataResponse?.longitude}}</p>
                                    <p><strong>Азимут:</strong> {{photo.camMetadataResponse?.bearing}}</p>
                                    <p><strong>Высота:</strong> {{photo.camMetadataResponse?.elevation}}</p>
                                </div>
                                }
                                @if(photo.constructMetadataResponses){
                                <div class="metadata-section">
                                    @for (construct of photo.constructMetadataResponses; track construct.id) {
                                    <div class="construct-item">
                                        <p><strong>ID конструкции:</strong> {{construct.id}}</p>
                                        <p><strong>Тип:</strong> {{construct.type}}</p>
                                        <p><strong>Адрес:</strong> {{construct.address}}</p>
                                        <p><strong>Широта:</strong> {{construct.latitude}}</p>
                                        <p><strong>Долгота:</strong> {{construct.longitude}}</p>
                                        <hr>
                                    </div>
                                    }
                                </div>
                                }
                            </div>
                            }

                        </div>
                    </mat-card-content>
                </div>
                <div class="card-side">
                    <button matButton="elevated" (click)="openDialog('0ms', '0ms', photo.id)"
                        [disabled]="photo.status ==='IN_PROGRESS'">Удалить</button>
                    <button matButton="elevated" (click)="openMapOverlay(photo)"
                        [disabled]="photo.status!='COMPLETED'">Показать карту</button>
                </div>
            </div>


        </mat-card>
        }
    </div>
</div>
@if (isViewMap()) {
<div class="overlay" #overlay (click)="closeOverlay($event)">
    <app-map-2gis class="overide-form"></app-map-2gis>
</div>
}