.filter-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.filter-rating {
    color: #666;
    font-weight: 500;
}

.keywords-section {
    margin-top: 16px;

}

.keywords-section h4 {
    margin: 0 0 12px 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.keywords-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1 1 100px;
    padding-bottom: 10px;
}

.keyword-chip {
    padding: 4px 5px;
    border-radius: 6px;
    font-size: 0.8rem;
    color: var(--color);
    font-weight: 100;
    border: 0.5px solid var(--color);
    border-style: outset;
}

::ng-deep .compact-menu {
    min-width: 0 !important;
}

::ng-deep .icon-menu {
    margin-right: 0 !important;
}

@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}